canvas{
    position: fixed;
    top:0%;
    left: 50%;
    transform: translate(-50%,0%);
}
html{
    background-color: rgb(36, 36, 36);
    overflow: hidden;
}
.a{
    width: 100%;
}
.b{
    height: 100%;
}